.modal {
  position: fixed;
  background-color: rgba(17, 3, 3, 0.123);
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 300px;
  max-width: 500px;
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

.footer {
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 20px;
}
.title {
  color: blue;
  border-bottom: 3px solid blue;
}
